*.vscode
*.DS_Store
*.idea
*.vscode
*.vs
*.pro.user
*.Debug
*.Release
.qmake.stash
Makefile
release/
source/sqlite/.DS_Store
source/.DS_Store
uml/.DS_Store
build-ProjetLO21-Desktop_Qt_6_6_0_MinGW_64_bit-Profile/
build-ProjetLO21-Desktop_Qt_6_6_0_MinGW_64_bit-Debug/
debug/
*.o
*.app
moc_*.cpp
source/.qtc_clangd/
build*
source/data/*.sqlite
