*.vscode
*.DS_Store
*.idea
*.vscode
*.vs
*.pro.user
*.Debug
*.Release
.qmake.stash
Makefile
source/sqlite/.DS_Store
source/.DS_Store
uml/.DS_Store
build-ProjetLO21-Desktop_Qt_6_6_0_MinGW_64_bit-Debug/
debug/